out
target
cider-repl-history
emacs-session
.lein-repl-history
cider-repl-history
.nrepl-port
/.lein-*
profile.boot
profiles.clj
hs_err*
config.edn
.idea
.hgignore
.hg
checkouts
pom.xml
pom.xml.asc
*.jar
*.class
api.iml
.DS_Store
profiles.clj
.nrepl-history
src-om
project.clj
build.json
node_modules
bower_components
src-dev/scratch
tmp